@import "../../styles/variables";
@import "../../styles/mixins";

#start {
  margin: 30px;

  @include desktop {
    width: 40%;
  }

  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    @include desktop {
      width: 300px;
    }

    img {
      width: 40%;
      border-radius: 50%;
      border: 5px solid $secondaryColorYellow;

      @include desktop {
        width: 100%;
      }
    }
  }

  h1 {
    color: $white;
  }

  .developer {
    margin-left: 5px;
    color: $black;
    background-color: $secondaryColorYellow;
    padding: 0 10px 0 10px;
  }

  h3 {
    color: $secondaryColorYellow;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.3rem;
  }

  p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.4px;

    a {
      text-decoration: none;
      color: inherit;
      font-style: italic;
      cursor: pointer;
    }
  }
}
