@mixin tablet {
  @media screen and (min-width: 786px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin desktopBig {
  @media screen and (min-width: 2000px) {
    @content;
  }
}

@mixin glassmorphism {
  background: linear-gradient(
      156deg,
      rgba(255, 255, 255, 0.78) 5.87%,
      rgba(255, 255, 255, 0.4) 26.07%,
      rgba(255, 255, 255, 0) 82.52%
    ),
    radial-gradient(
      151.92% 127.02% at 15.32% 21.04%,
      rgba(123, 253, 253, 0.2) 0%,
      rgba(110, 191, 244, 0.04) 77.08%,
      rgba(70, 144, 212, 0) 100%
    );

  backdrop-filter: blur(40px);
}

@mixin shadow-border {
  box-shadow: -2px -1px 0px 0px rgba(37, 93, 202, 0.12) inset,
    2px 1px 0px 0px #c2f3f8 inset;
}

@mixin button-bg {
  background: linear-gradient(
      198deg,
      rgba(255, 255, 255, 0) -13.89%,
      rgba(255, 255, 255, 0.4) 12.25%,
      rgba(55, 55, 55, 0) 85.29%
    ),
    radial-gradient(
      151.92% 127.02% at 15.32% 21.04%,
      rgba(123, 253, 253, 0.2) 0%,
      rgba(110, 191, 244, 0.04) 77.08%,
      rgba(70, 144, 212, 0) 100%
    ),
    rgba(0, 0, 0, 0.16);

  box-shadow: -2px -1px 0px 0px rgba(37, 93, 202, 0.12) inset,
    2px 1px 0px 0px #c2f3f8 inset;
  backdrop-filter: blur(40px);
}
