@font-face {
  font-family: "Righteous";
  src: url("/src/assets/fonts/Righteous/Righteous-Regular.ttf")
    format("truetype");
}

$primaryColorGrey: #949090;
$secondaryColorYellow: #ead94c;
$white: #ffffff;
$black: #000000;
$fontFamily: "Righteous";
