@font-face {
  font-family: "Righteous";
  src: url("/src/assets/fonts/Righteous/Righteous-Regular.ttf")
    format("truetype");
}

$primaryColorGrey: #113023;
$secondaryColorYellow: #4deaa7;
$white: #ffffff;
$black: #000000;
$fontFamily: "Righteous";
