@import "../../styles/variables";
@import "../../styles/mixins";

.skillsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  @include desktop {
    width: 40%;
  }

  @include desktopBig {
    width: 40%;
  }
  h1 {
    color: $white;
    margin: 0;
    padding-bottom: 50px;
  }

  .skills {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 40px;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;

    background-color: $white;
    border-radius: 12px;
    border: 5px solid $secondaryColorYellow;

    padding: 10px 0 10px 0;

    @include desktop {
      width: 100%;

      padding: 40px;
    }
  }

  .skill {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      img {
        max-width: 100%;
      }
    }

    .title {
      text-align: center;
      font-size: 0.9rem;
    }
  }
}
