@import "./styles/mixins";
@import "./styles/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 100px;

  position: relative;
  top: 100px;

  @include desktop {
    gap: 250px;
  }

  @include desktopBig {
    margin-right: 400px;
    margin-left: 400px;

    border-left: 5px solid $secondaryColorYellow;
    border-right: 5px solid $secondaryColorYellow;
  }
}
